{% extends "main/base.html" %}
{% load static %}

{% block title %}
投票系統 | 登入
{% endblock %}

{% block head %}
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      font-size:10px;
      }
  </style>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/buttons.css' %}" />
{% endblock %}

{% block js %}{% endblock %}

{% block content %}
	<div style="text-align: center">
		<form method="post" action="{% url 'account:login' %}">
			{% csrf_token %}
			<p>帳號：<input type="text" name="username"></p>
    		<p>密碼：<input type="password" name="password"></p>
    		{% if nextURL %}
      			<input type="hidden" name="nextURL" value="{{ nextURL }}">
    		{% endif%}
    		<p><input class="btn" type="submit" value="登入"></p>
		</form>
	</div>
	
{% endblock %}